.b_conBox{
  margin: 30px auto 0;
  width: 1200px;
}
.b_conList{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.b_listBox{
    width: 30%;
    position: relative;
}
.b_listBox>div:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    cursor: pointer;
}
.b_listBox>div{
    border: 1px solid rgba(0,0,0,0.1);
}

.b_conTitle{
    font-size: 20px;
    line-height: 40px;
    padding-left: 5px;
}
.b_date{
    color: #999;
    font-size: 13px;
    padding-left: 5px;
}
.b_listBox img{
    display:block;
    width: 100%;
}
.b-sideImg{
    margin-top: 15px;
}
