.b_reserve{
    margin: 30px auto 0;
    width: 1200px;
  }
  .b_reserveCont{
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  .b_reserveTitle{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }
