.b_container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.b_title{
    margin-top: 50px;
    padding-bottom: 20px;
    padding-left: 5px;
    border-bottom: 4px solid #333;
}
.b_nav{
     list-style-type: none;
     padding: 0;
     margin: 0;
     font-size: 20px;
     display: flex;
     justify-content: space-between;
     padding-bottom: 17px;
     border-bottom: 1px solid #999;
    
}

.b_nav li a:active{
    color: #00c9c7
}
.b_movie{
    color: #00c9c7;
    padding-left: 10px;
}
.b_myButton {
	box-shadow:inset 0px 39px 0px -24px #0ec0bd;
	background-color:#00c9c7;
	border-radius:9px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"HoengseongHanu";
	font-size:13px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #00c9c7;

}
.b_myButton:hover {
    box-shadow:0px 39px 0px -24px #2c5e5d;
}
.b_myButton:active {
	position:relative;
	top:1px;
}



