body {
  margin: 0 auto;
  font-family: 'HoengseongHanu';
  font-weight: normal;
  font-style: normal;   
}
a{
  color: #000;
  text-decoration: none ;
}
.b_row{
  display: flex;
}
@font-face {
  font-family:'HoengseongHanu' ;
  src: url(../public/webfont/Hoengseong\ Hanu.ttf);
}
