*{
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'HoengseongHanu';
  font-weight: normal;
  font-style: normal;   

}
a{
  color: #000;
  text-decoration: none ;
}
.b_row{
  display: flex;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family:'HoengseongHanu' ;
  src: url(../public/webfont/Hoengseong\ Hanu.ttf);
}
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

